$white: #fff;
$black: #000;

$theme-color-1: #1a1a1a;
$theme-color-2: #ffe500;
$theme-color-3: #d1d1d1;
$theme-color-4: #ffe600;
$theme-color-5: #fde831;
$theme-color-6: #f4f4f4;
$theme-color-7: #1e5d69;
